body {
    background-color: rgb(46, 41, 84);
}

.input-board {
    position: absolute;
    top: 150px;
    left: 400px;

    border: 3px solid greenyellow;
    width: 450px;
    height: 570px;
}

.answer-board {
    border: 3px solid red;
    width: 250px;
    height: 700px;
    
    position: absolute;
    top: 170px;
    left: 1500px;
}

input[type=number] {
    -moz-appearance: textfield;
}

.page {
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
}

@keyframes disappear {
    from {top: 0px;}
    to {top: -1000px;}
}

.gss {
    position: absolute;
    width: 300px;
    height: 50px;
    top: 850px;
    left: 530px;
}

.navi {
    color: white;
    text-align: center;
}