body {
    background-color: white;
}

nav {
    background-color: white;
    position: fixed;
    /* border: 3px solid green; */
    border-radius: 10px;
    right: 25%;
    width: 1000px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    z-index: 1;
}

.nav-left {
    color: #000009;
    position: relative;
    left: 30px;
    top: 15px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: larger;
}

.nav-right {
    color: #000009;
    position: relative;
    left: 800px;
    bottom: 7px;
}

.mail-icon {
    width: 25px;
    padding-left: 30px;
}

.devicon-linkedin-plain, .devicon-github-original {
    font-size: 25px;
    padding-left: 30px;
}

.welcome-text {
    position: absolute;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    font-size: xx-large;
    left: 25%;
    top: 300px;
}

.down {
    position: absolute;
    bottom: 20px;
    left: 49%;
}

.down-text {
    position: relative;
    left: -40px;
}

.ri-arrow-down-wide-line {
    font-size: 40px;
}

.time-line {
    position: relative;
    background-color: black;
    height: 300px;
    width: 5px;
    top: 1200px;
    left: 25%;
    border-radius: 3px;
}

.point1, .point2, .point3, .point4 {
    background-color: black;
    position: relative;
    height: 11px;
    width: 11px;
    border-radius: 50%;
}

.point1 {
    top:0px;
    left: -3px;
}

.about-me {
    position: relative;
    top: 870px;
    left: 500px;
    width: 500px;
}

.change-size-one {
    position: relative;
    width: 700px;
    height: 5px;
    background-color: black;
    top: 1015px;
    left: 471px;
    border-radius: 3px;
}

.time-line-two {
    background-color: black;
    position: relative;
    width: 5px;
    height: 500px;
    top: 1014px;
    left: 1166px;
}

.point2 {
    top: 200px;
    left: -3px;
}

.discord-bot {
    position: relative;
    top: 680px;
    left: -750px;
}

.title-db {
    text-align: right;
}

.text-tdb {
    position: relative;
    left: 1380px;
    width: 500px;
}

.kraken {
    position: relative;
    left: 1000px;
    top: -300px;
    border-radius: 30px;
    border: 5px solid black;
}

.time-line-three-p1 {
    position: relative;
    top: 300px;
    left: 1166px;

    background-color: black;
    width: 5px;
    height: 800px;
    border-radius: 3px;
}

.point3 {
    top: 300px;
    left: -3px;
}

.text-h {
    text-align: right;
}

.hackt {
    position: relative;
    bottom: 230px;
    right: -640px;

    width: 500px;
}

.photo-hp {
    position: relative;
    bottom: 530px;
    left: 100px;
    border-radius: 30px;
    width: 500px;
    border: 5px solid black;
}

.time-line-four {
    width: 700px;
    height: 5px;
    border-radius: 3px;
    background-color: black;
    
    position: relative;
    left: 470px;
    top: -392px;
}

.time-line-five {
    position: relative;
    background-color: black;
    height: 500px;
    width: 5px;
    top: -395px;
    left: 470px;
    border-radius: 3px;
}

.point4 {
    top: 200px;
    left: -3px;
}

.IEEE {
    position: relative;
    top: -730px;
    right: -500px;

    width: 500px;
}

.r-w {
    text-align: center;
}

hr {
    width: 800px;
}